<footer id="footer">
      <ul class="social">
        
        <li> <a href="https://github.com/jasonvandevander/my-test-repository/tree/master" target="_blank" ><i class="fa fa-github" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/aaliyah-bloise/" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/jasonvandevander/" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/cj-torres/" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        
      </ul>
    
    <div class="copyright">
      <p> Copyright &copy; 2022 by Aaliyah Bloise, Jason Vandevander & Christopher Torres </p>
    </div>
</footer>