#footer {
  padding: 28px;
  background-color: rgba(139, 125, 125, 0.61); 
}

.content {
  text-align: center; 
  border-bottom: 1px solid rgb(19, 18, 18);
  padding: 0 0 30px;
  margin: 0 0 30px;
}

.social {
  display: flex;
  justify-content: center;
  font-size: 0px;
  margin: 0 0 20px;
}

.social li {
  padding: 0 25px;
}

.social a {
  color: rgb(245, 14, 14);
}

.social a:hover {
  color: rgba(199, 199, 207, 0.274);
}

.copyright {
  text-align: center;
  color: rgba(243, 30, 30, 0.836);
}

.copyright a {
  color:  rgba(230, 19, 19, 0.514);
}