 #footer {
  padding: 28px;
  bottom: 0px;
  position: static;
  background-color: rgba(139, 125, 125, 0.61); 
}

.social {
  display: flex;
  justify-content: center;
  font-size: 0px;
  margin: 0 0 20px;
}

.social li {
  padding: 0 25px;
}

.social a {
  color: rgb(14, 45, 245);
}

.social a:hover {
  color: rgb(248, 246, 246);
}

.copyright {
  text-align: center;
  color: rgba(14, 45, 245);
}

.copyright a {
  color:  rgba(230, 19, 19, 0.514);
}