<footer id="footer">
  <div class="container">
    <div class="content">
      <ul class="social">
        
        <li> <a href="https://github.com/cjtorres18"><i class="fa fa-github" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/cj-torres/"><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/cj-torres/"><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        <li> <a href="https://www.linkedin.com/in/cj-torres/"><i class="fa fa-linkedin-square" style="font-size:46px"></i></a></li>
        
       
      </ul>
    </div>
    <div class="copyright">
      <p> Copyright &copy; 2022 by Aaliyah Bloise, Jason vandevander & Christopher Torres </p>
    </div>

  </div>

</footer>