header {
  display: flex;
  flex-direction: column;
  font-family: 'Brush Script MT', cursive;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

div {
  height: 80px;  
}

#main-text {
  padding: 12px 24px 12px 24px;
  height: 68px;
  font-size: 24px;
  color: red;
  margin-top: 24px;
}
