h1 {
    height: 100px;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(2, 117, 216);
    justify-content: center;
    text-align: center;
}


